html{
    background-color: #48A9EE;
            -webkit-tap-highlight-color: rgba(0,0,0,0);

}
.container{
    position: relative;
    margin-top: 17em;
    /*top: 35%;
    right: 0;
    left: 0;*/
}
form{
    text-align: center;
}
input{
    position: relative;
    width: 60%;
    display: inline;
    margin: 0 auto;
    /*width:12em; */
    border-radius: 15px;
    height: auto; 
    border: solid 7px #fff; 
    padding:0.4em;
    font-size: 2em; 
    /*margin-right: 1em;*/
    /*background-color: #48A9EE;*/
    /*background-color: rgba(72,169,238,0.9);*/
    text-align: center; 
    /*box-shadow: inset 0 2px 3px rgba(0,0,0,0.2); */
}
select{
    margin-top: 5%;
    width: auto;
    /*margin-left: 1em;*/
    border-radius: 15px;
    height: auto; 
    border: solid 7px #fff; 
    padding:0.4em;
    font-size: 2em;
 
}
button{
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 1em;
    margin-bottom: 2em;
    width: auto;
     background: #097054; 
     border: none; 
     color: #fff;
     font-weight:bold;
     font-size:x-large;
     padding: 20px;
     border-radius: 20px;
}
input:focus, select:focus, textarea:focus, button:focus, a:active {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
.card{ 


  width: 60%;
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 auto;
  border-radius:5px;
  margin-top: 1rem;
}